*{
    font-family: sans-serif;
}

.navbar{
    background-color: #015959;
}

.container-l {
    background: linear-gradient(to top, #000000bb, #000000a4), url('../assets/landing.jpg');
    background-size: cover;
    padding-bottom: 15vh;
}



.container-l h1{
    color: white;
    padding-top: 15%;
    padding-bottom: 5%;
}

.container-l p{
    color: #fffff1;
}

.btn1{
    background-color: #015959;
    color: white;
    font-size: 24px;
}


@media screen and (min-width: 991px) {

    .navbar-nav{
        position: absolute;
        left: 85%;
        transform: translateX(-85%);
    }

    li:nth-child(1){
        border: 1px solid white;
    }

    .container-l h1{
        font-size: 72px;
        color: white;
    }
    
    .container-l p{
        font-size: 20px;
    }

    .col-md-6{
        margin-left: 6rem;
    }
    
}