@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Koulen&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
body {
  display: flex;
}
header {
  background-color: #015959;
  width: 20%;
  min-height: 100%;
  position: fixed;
  text-align: left;
}

main {
  width: 80% !important;
  margin-left: 20%;
}

nav {
  margin-top: 10%;
  width: 80%;
  margin: 0 auto;
}

.logo {
  margin: 15% 10%;
}
.logo p {
  font-family: "Koulen", sans-serif;
  font-weight: 700;
  font-size: 2vw;
  color: white;
}

.logo p span {
  font-size: 1vw;
}
.main-mu {
  color: white;
  margin: 10% 0;
}
ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
}
ul li a {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 15px;
  color: white;
}
header nav ul li a svg{
  margin-top: -12%;
}

  
.logo {
    margin: 15% 10%;
}
.logo p {
    font-family: "Koulen", sans-serif;
    font-weight: 700;
    font-size: 2vw;
    color: white;
}
  
.logo p span {
    font-size: 1vw;
}
.main-mu {
    color: white;
    margin: 10% 0;
}
ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
}
ul li a {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 15px;
    color: white;
}
  
.container{
    padding: 5px;
}

.form_title{
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 5vw;
    border-bottom: 1px solid #015959;
}

.circle{
    height: 20px;
    width: 20px;
    background-color: #015959;
    border-radius: 50%;
}

h3{
    color: #015959;
}

hr{
    height: 2px;
    background-color: #015959;
}

form{
    color: #015959;
    margin-top: 5vh;
}

input,
input:active,
input:focus{
    outline: none !important;
    border: 1px solid #015959 !important;
    color: #015959;
}

textarea{
    height: 30vh !important;
    border: 1px solid #015959 !important;
}

input[type='submit']{
    background-color: #015959;
    color: #ffffff;
    margin-top: 10px;
}