<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet"
    href="{{url_for('static',filename="css/details.css")}}">
    <title>Document</title>
  </head>
  <body>

    {% with messages = get_flashed_messages(with_categories = True) %}

{% if messages %}

 {% for category,message in messages %}

 {% if category == 'error' %}
 <div class="alert alert-danger alert-dismissible fade show position-absolute">
   {{message}}
   <button type="button"
   class="btn-close" data-bs-dismiss ="alert">
   </button>
  </div>

  {% else %}

  <div class="alert alert-success alert-dismissible fade show position-absolute">
   {{message}}
   <button type="button"
   class="btn-close" data-bs-dismiss ="alert">
   </button>
  </div>

  {% endif %}

 {% endfor %}
{% endif %}

{% endwith %}
    <header>
      <nav>
        <div class="logo">
          <p>PRO<span>MANAGE</span></p>
        </div>
        <ul>
          <a href="#" class="main-mu">MAIN MENU</a>
          <li>
            <a href="{{url_for('main.index')}}"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                aria-hidden="true"
                role="img"
                width="1em"
                height="1em"
                preserveAspectRatio="xMidYMid meet"
                viewBox="0 0 1024 1024"
              >
                <path
                  fill="currentColor"
                  d="M946.5 505L560.1 118.8l-25.9-25.9a31.5 31.5 0 0 0-44.4 0L77.5 505a63.9 63.9 0 0 0-18.8 46c.4 35.2 29.7 63.3 64.9 63.3h42.5V940h691.8V614.3h43.4c17.1 0 33.2-6.7 45.3-18.8a63.6 63.6 0 0 0 18.7-45.3c0-17-6.7-33.1-18.8-45.2zM568 868H456V664h112v204zm217.9-325.7V868H632V640c0-22.1-17.9-40-40-40H432c-22.1 0-40 17.9-40 40v228H238.1V542.3h-96l370-369.7l23.1 23.1L882 542.3h-96.1z"
                />
              </svg>
              <p>Home</p></a
            >
          </li>
          <li>
            <a href="/home#tasks"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                aria-hidden="true"
                role="img"
                width="1em"
                height="1em"
                preserveAspectRatio="xMidYMid meet"
                viewBox="0 0 24 24"
              >
                <path
                  fill="currentColor"
                  d="M3 9H1v11c0 1.11.89 2 2 2h17v-2H3V9z"
                />
                <path
                  fill="currentColor"
                  d="M18 5V3c0-1.1-.9-2-2-2h-4c-1.1 0-2 .9-2 2v2H5v11c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5h-5zm-6-2h4v2h-4V3zm9 13H7V7h14v9z"
                />
              </svg>
              <p>Projects</p></a
            >
          </li>

          <li>
            <a href="{{url_for('main.add_subtask',id = id)}}"
              >
              <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><path d="M6 9h6M4 5h4M6 5v11a1 1 0 0 0 1 1h5"/><rect width="8" height="4" x="12" y="7" rx="1"/><rect width="8" height="4" x="12" y="15" rx="1"/></g></svg>
              
              <p>Add subtask</p></a
            >
          </li>
          <li>
            <a href="#"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                aria-hidden="true"
                role="img"
                width="1em"
                height="1em"
                preserveAspectRatio="xMidYMid meet"
                viewBox="0 0 24 24"
              >
                <g fill="none" stroke="currentColor" stroke-width="2">
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="m16.719 19.752l-.64-5.124A3 3 0 0 0 13.101 12h-2.204a3 3 0 0 0-2.976 2.628l-.641 5.124A2 2 0 0 0 9.266 22h5.468a2 2 0 0 0 1.985-2.248Z"
                  />
                  <circle cx="12" cy="5" r="3" />
                  <circle cx="4" cy="9" r="2" />
                  <circle cx="20" cy="9" r="2" />
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M4 14h-.306a2 2 0 0 0-1.973 1.671l-.333 2A2 2 0 0 0 3.361 20H7m13-6h.306a2 2 0 0 1 1.973 1.671l.333 2A2 2 0 0 1 20.639 20H17"
                  />
                </g>
              </svg>
              <p>People</p></a
            >
          </li>
          <li>
            <a href="{{url_for('main.new_project')}}"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                aria-hidden="true"
                role="img"
                width="1em"
                height="1em"
                preserveAspectRatio="xMidYMid meet"
                viewBox="0 0 24 24"
              >
                <path
                  fill="none"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-width="2"
                  d="M12 20v-8m0 0V4m0 8h8m-8 0H4"
                />
              </svg>
              <p>Create</p></a
            >
          </li>
          <li>
            <a href="{{url_for('auth.logout')}}"
              >
              <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path fill="currentColor" fill-rule="evenodd" d="M3 5c0-1.1.9-2 2-2h8v2H5v14h8v2H5c-1.1 0-2-.9-2-2V5Zm14.176 6L14.64 8.464l1.414-1.414l4.95 4.95l-4.95 4.95l-1.414-1.414L17.176 13H10.59v-2h6.586Z"/></svg>
              <p>Logout</p></a
            >
          </li>
        </ul>
      </nav>
    </header>

    <main>
      <section id="project-name">
        <div class="name-cont">
          <div class="circle"></div>
          <p>{{project.name}}</p>
        </div>
        <hr />
      </section>
      <h3 class="title">Details</h3>
      <section id="description">
          <div class="details-cont">
            <h3>description</h3>
            <p>
             {{project.description}}
            </p>

          </div>
     
      </section>
      <section id="roles">
         <h3 class="ttl">Project Roles</h3>
          
          <div class="roles-cont">
           
        

              <div class="add">
                  <a href="{{url_for('main.member',id=project.id)}}"><svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-width="2"><circle cx="12" cy="7" r="5"/><path stroke-linecap="round" stroke-linejoin="round" d="M17 22H5.266a2 2 0 0 1-1.985-2.248l.39-3.124A3 3 0 0 1 6.649 14H7m12-1v6m-3-3h6"/></g></svg><small>Add member</small></a>

              </div>
              
              <div class="members">

                  {% for member in project.members %}

                  {% if member.user.id == project.owner_id %}
                  <a class="member">
                    <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 16 16"><g fill="currentColor"><path d="M11 6a3 3 0 1 1-6 0a3 3 0 0 1 6 0z"/><path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/></g></svg>
                    <div class="m-name">
                        <h4>{{member.user.fullname}}</h4>
                        <small>Project Owner</small>
                    </div>
                  </a>
                  {% else %}
                  <a class="member">
                    <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 16 16"><g fill="currentColor"><path d="M11 6a3 3 0 1 1-6 0a3 3 0 0 1 6 0z"/><path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/></g></svg>
                    <div class="m-name">
                        <h4>{{member.user.fullname}}</h4>
                        <small>{{member.user.role}}</small>
                    </div>
                  </a>

                  {% endif %}
                  
                  {% endfor %}
              </div>
          </div>

      </section>
      <section id="timelines">
          <h3 class="t-time">Timeline</h3>
          <div class="timelines-cont">
              <div class="start">
                <div class="desc">
                    <a href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 16 16"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="m2.75 8.75l3.5 3.5l7-7.5"/></svg>
                    </a>
                    <p>Initiation of the project</p>
                </div>

                <div class="date">
                <p>{{project.start_date | format_date()}}</p>
                </div>
              </div>
              <div class="end">
                  <div class="desc">
                      <a href=""><svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 1024 1024"><path fill="currentColor" d="M257.7 752c2 0 4-.2 6-.5L431.9 722c2-.4 3.9-1.3 5.3-2.8l423.9-423.9a9.96 9.96 0 0 0 0-14.1L694.9 114.9c-1.9-1.9-4.4-2.9-7.1-2.9s-5.2 1-7.1 2.9L256.8 538.8c-1.5 1.5-2.4 3.3-2.8 5.3l-29.5 168.2a33.5 33.5 0 0 0 9.4 29.8c6.6 6.4 14.9 9.9 23.8 9.9zm67.4-174.4L687.8 215l73.3 73.3l-362.7 362.6l-88.9 15.7l15.6-89zM880 836H144c-17.7 0-32 14.3-32 32v36c0 4.4 3.6 8 8 8h784c4.4 0 8-3.6 8-8v-36c0-17.7-14.3-32-32-32z"/></svg></a>
                       <p>Completion of the project</p>
                  </div>
                  <div class="date">
                      <p>{{project.completion_date | format_date()}}</p>
                  </div>
              </div>

          </div>

      </section>
    </main>
  </body>
</html>
