{% extends 'base.html' %}
{% block content %}
{% block styles %}
{{super()}}
<link rel="stylesheet" href="static/css">
{% endblock %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            
            <a class="navbar-brand" href="/"> PROmanage</a>
        </div>
        <div class="navbar-collapse ">
            <ul class="nav navbar-nav navbar-left">
             <li><a href=""></a></li> 
              <li><a href="">Profile</a></li> 
              <li><a href="">Sign out</a></li>
              <li><a href="">Sign in</a></li>
            </ul>

        </div>
          
    </div>
</div>
    {% endblock %}


