{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}



{% block styles %}

    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/p-form.css') }}">

{% endblock %}

{% block content %}
<body>
    {% with messages = get_flashed_messages(with_categories = True) %}

{% if messages %}

 {% for category,message in messages %}

 {% if category == 'error' %}
 <div class="alert alert-danger alert-dismissible fade show position-absolute">
   {{message}}
   <button type="button"
   class="btn-close" data-bs-dismiss ="alert">
   </button>
  </div>

  {% else %}

  <div class="alert alert-success alert-dismissible fade show position-absolute">
   {{message}}
   <button type="button"
   class="btn-close" data-bs-dismiss ="alert">
   </button>
  </div>

  {% endif %}

 {% endfor %}
{% endif %}

{% endwith %}
<header>
    <nav>
        <div class="logo">
             <p>PRO<span>MANAGE</span></p>
        </div>
        <ul> 
            <a href="/" class="main-mu">MAIN MENU</a>
            <li><a href="/"><svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 1024 1024"><path fill="currentColor" d="M946.5 505L560.1 118.8l-25.9-25.9a31.5 31.5 0 0 0-44.4 0L77.5 505a63.9 63.9 0 0 0-18.8 46c.4 35.2 29.7 63.3 64.9 63.3h42.5V940h691.8V614.3h43.4c17.1 0 33.2-6.7 45.3-18.8a63.6 63.6 0 0 0 18.7-45.3c0-17-6.7-33.1-18.8-45.2zM568 868H456V664h112v204zm217.9-325.7V868H632V640c0-22.1-17.9-40-40-40H432c-22.1 0-40 17.9-40 40v228H238.1V542.3h-96l370-369.7l23.1 23.1L882 542.3h-96.1z"/></svg><p>Home</p></a></li>
            <li><a href="/"><svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path fill="currentColor" d="M3 9H1v11c0 1.11.89 2 2 2h17v-2H3V9z"/><path fill="currentColor" d="M18 5V3c0-1.1-.9-2-2-2h-4c-1.1 0-2 .9-2 2v2H5v11c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5h-5zm-6-2h4v2h-4V3zm9 13H7V7h14v9z"/></svg><p>Projects</p></a></li>

            <li><a href=""><svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32"><g fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><path d="M13 2v4l-2 1l-3-3l-4 4l3 3l-1 2H2v6h4l1 2l-3 3l4 4l3-3l2 1v4h6v-4l2-1l3 3l4-4l-3-3l1-2h4v-6h-4l-1-2l3-3l-4-4l-3 3l-2-1V2Z"/><circle cx="16" cy="16" r="4"/></g></svg><p>Settings</p></a></li>
            <li><a href=""><svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-width="2"><path stroke-linecap="round" stroke-linejoin="round" d="m16.719 19.752l-.64-5.124A3 3 0 0 0 13.101 12h-2.204a3 3 0 0 0-2.976 2.628l-.641 5.124A2 2 0 0 0 9.266 22h5.468a2 2 0 0 0 1.985-2.248Z"/><circle cx="12" cy="5" r="3"/><circle cx="4" cy="9" r="2"/><circle cx="20" cy="9" r="2"/><path stroke-linecap="round" stroke-linejoin="round" d="M4 14h-.306a2 2 0 0 0-1.973 1.671l-.333 2A2 2 0 0 0 3.361 20H7m13-6h.306a2 2 0 0 1 1.973 1.671l.333 2A2 2 0 0 1 20.639 20H17"/></g></svg><p>People</p></a></li>
            <li><a href=""><svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M12 20v-8m0 0V4m0 8h8m-8 0H4"/></svg><p>Create</p></a></li>
            <li>
                <a href="{{url_for('auth.logout')}}"
                  >
                  <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path fill="currentColor" fill-rule="evenodd" d="M3 5c0-1.1.9-2 2-2h8v2H5v14h8v2H5c-1.1 0-2-.9-2-2V5Zm14.176 6L14.64 8.464l1.414-1.414l4.95 4.95l-4.95 4.95l-1.414-1.414L17.176 13H10.59v-2h6.586Z"/></svg>
                  <p>Logout</p></a
                >
              </li>
        </ul>
    </nav>
  </header>

<main class="container">
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <div class="form_title">
                    <div class="circle"></div>
                    <h3>Add a new project</h3>
                </div>
                {{ wtf.quick_form(form) }}
            </div>
            <div class="col-sm-3"></div>
</main>
</body>
{% endblock %}

